.form-container{
	width:300px;
	padding:20px;
	border-radius:10px;
	box-shadow:3px 3px #000000;
	margin-top: 40px;
	
}
body{
	width:300px;
	margin:auto;
}
   img{
   	   width:30px;
   	   height:30px;
   	   margin-left: 5px;
   	   margin-top: 5px;
   }
   span{
   margin-left:70px;
   margin-top: 30px;
   font-size: large;
   font-weight: bold;
   color: #ffffff;
   }
   .block1{
   	background: #00BFFF;
   	height: 40px;
   	display: inline-block;
   	width:100%;
   }
   div section{
   	 border:1px ridge #A9A9A9;
   	 border-radius: 5px;
   	 line-height: 20px;
   	  width:85%;
   	 margin-left: 20px;
   	 margin-right: 40px;
   	 margin-bottom: 20px;
   	 margin-top: 10px;
   }
   div input{
   	  border:1px solid #ffffff;
   }
   #submit{
   	 width:85%;
   	 margin-left: 20px;
   	 margin-right: 40px;
   	 margin-bottom: 10px;
   	background: #00BFFF;
   	font-weight: bold;
   	color: #FFFFFF;
   	line-height: 20px;
   	border-radius: 4px;}
   a{
     text-decoration: none;
     margin-left: 20px;
   }   
  #reset{
  	margin-left: 25%;
  }
   hr{
   	margin-left: 20px;
   	width:35%;
   	display: inline-block;
   }
  .block2 button{
   	 width:90%;
   	 line-height: 30px;
   	  width:85%;
   	 margin-left: 20px;
   	 margin-right: 40px;
   	 margin-bottom: 10px;
   	 margin-top: 10px;
   	 border-radius: 4px;
   	 border:1px #ffffff;
   }
   #blue{
   	background: #4169E1;
   }
   #brown{
   	background: #D2691E;
   }
   #yellowgreen{
   	background: #9ACD32;
   }
   i{
   	opacity: 0.5;
   }
   .block1 button{
   	background:  #00BFFF;
   	margin-left: 20%;
   	border:1px solid #00BFFF;
   	color: #ffffff;
   	font-weight: bold;
   }